#chatarea{
    right: 0;
    float: right;
}

#mydeck{
}

#tiles{
    position: absolute;
    bottom: 20px;
    height: 200px;
    left: 40px;
}


#mydeck #tiles div{
    height: 128px;
    width: 81px;
    float: left;
}